@import "../../../colors.scss";

mat-card {
  margin: 8px 0;

  .date {
    text-align: center;

    .weekday {
      font-size: 6pt;
    }

    .day {
      color: $primary;
      font-size: 28pt;
      margin: 0;
    }

    .month {
      font-size: 10pt;
    }
  }

  .content {
    display: flex;
    width: 70%;
    justify-content: space-between;
    align-content: center;
    margin-left: 8px;
    font-size: 14pt;

    .title {
      min-width: 0;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
