<mat-tab-group mat-stretch-tabs>
  <mat-tab label="Angebote">
    <mat-accordion *ngIf="shifts.length !== 0" displayMode="flat">
      <mat-expansion-panel *ngFor="let shift of shifts">
        <mat-expansion-panel-header collapsedHeight="auto">
          <mat-panel-title>
            <div>
              <h3>{{shift.title}}</h3>
              <h5>{{shift.name}}</h5>
              <h5>{{shift.from}}</h5>
            </div>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <a fxFlexFill href="tel:{{shift.phone}}" mat-button *ngIf="shift.phone.length !== 0">{{shift.phone}}</a>
        <div fxLayout="row" fxLayoutGap="5%">
          <button mat-button *ngIf="shift.name.length !== 0" color="primary" fxFlex
            (click)="swap(shift)">Tauschen</button>
          <button mat-button fxFlex (click)="take(shift)">Aufnehmen</button>
        </div>
      </mat-expansion-panel>
    </mat-accordion>

    <div class="empty-list" *ngIf="shifts.length === 0">
      <mat-icon>remove_shopping_cart</mat-icon>
      <p>Keine Angebote</p>
    </div>
  </mat-tab>

  <mat-tab label="Nachrichten">
    <mat-accordion displayMode="flat">
      <mat-expansion-panel *ngFor="let message of messages">
        <mat-expansion-panel-header collapsedHeight="auto">
          <mat-panel-title>
            <div>
              <h3>{{message.title}}</h3>
              <h5>{{message.name}}</h5>
            </div>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="swap">
          <div *ngIf="message.title === 'Tauschanfrage'">
            <h4>Nachmittagsdienst</h4>
            <h5>Donnerstag, 23. Oktober 2020</h5>
          </div>
          <mat-icon *ngIf="message.title === 'Tauschanfrage'">swap_vert</mat-icon>
          <div>
            <h4>Nachmittagsdienst</h4>
            <h5>Donnerstag, 23. Oktober 2020</h5>
          </div>
        </div>
        <div *ngIf="message.title === 'Tauschanfrage'" fxLayout="row" fxLayoutGap="5%">
          <button mat-button color="accent" fxFlex>Annehmen</button>
          <button mat-button color="primary" fxFlex>Ablehnen</button>
        </div>
      </mat-expansion-panel>
    </mat-accordion>

    <div class="empty-list" *ngIf="messages.length === 0">
      <mat-icon>speaker_notes_off</mat-icon>
      <p>Keine Nachrichten</p>
    </div>
  </mat-tab>
</mat-tab-group>