@import "../../../styles.scss";

.empty-list {
  padding-top: 16px;
  text-align: center;

  mat-icon {
    font-size: 5rem;
    height: 5rem;
    width: 5rem;
    color: rgba(0, 0, 0, 0.4);
  }

  p {
    font-weight: bold;
    margin-top: 0;
    color: rgba(0, 0, 0, 0.4);
  }
}

.swap {
  padding-bottom: 16px;
  text-align: center;
}

mat-tab-group {
  height: calc(100vh - 56px - 32px);

  .mat-tab-body-wrapper {
    height: 100vh !important;
  }
}

mat-expansion-panel {
  margin: 5px;
  border-radius: 5px !important;

  mat-expansion-panel-header {
    margin: 16px 0;

    h3 {
      margin: 0;
    }

    h5 {
      margin: 0;
      font-weight: normal;
    }
  }
}

div {
  h4 {
    margin: -4px 0 0 0;
  }

  h5 {
    margin: -4px 0 0 0;
    font-weight: normal;
  }
}