@import "../../colors.scss";

mat-toolbar h1 {
  margin: auto;
}

.container {
  margin: 32px;
  padding-top: calc((100vh - 56px - 64px) / 2);
  transform: translateY(-25%);
}

.header {
  img {
    height: 80px;
  }
}

h2 {
  margin: 0;
}

h6 {
  margin: 0;
}
