<!-- <mat-toolbar color="primary">
  <div class="brand">BFK - Portal</div>
</mat-toolbar>

<div class="container">

  <form fxLayout="column">
    <mat-form-field appearance="standard">
      <mat-label>E-Mail</mat-label>
      <input matInput>
    </mat-form-field>

    <mat-form-field appearance="standard">
      <mat-label>Passwort</mat-label>
      <input matInput>
    </mat-form-field>
    <a href="#">Passwort vergessen?</a>

    <button mat-button color="primary" type="button">Anmelden</button>
  </form>
</div> -->
<mat-toolbar color="primary">
  Login
</mat-toolbar>