@import "../../styles.scss";

mat-drawer-container {
  height: calc(100vh - 56px);

  mat-drawer {
    width: 80vw;
  }

  @media screen and (min-width: $xs) {
    mat-drawer {
      width: 40vw;
    }
  }

  @media screen and (min-width: $sm) {
    mat-drawer {
      width: 30vw;
    }
  }

  @media screen and (min-width: $md) {
    mat-drawer {
      max-width: 308px;
    }
  }
}

mat-tab-group {
  height: calc(100vh - 56px - 32px);

  .mat-tab-body-wrapper {
    height: 100vh !important;
  }
}

mat-expansion-panel {
  margin: 5px;
  border-radius: 5px !important;

  mat-expansion-panel-header {
    margin: 16px 0;

    h3 {
      margin: 0;
    }

    h5 {
      margin: 0;
      font-weight: normal;
    }
  }
}
