@import "../../styles.scss";

mat-tab-group {
  height: calc(100vh - 56px - 32px);

  .mat-tab-body-wrapper {
    height: 100vh !important;
  }
}

mat-expansion-panel {
  margin: 5px;
  border-radius: 5px !important;

  mat-expansion-panel-header {
    margin: 16px 0;

    h3 {
      margin: 0;
    }

    h5 {
      margin: 0;
      font-weight: normal;
    }
  }
}
