@import "../../../styles.scss";
@import "../../../colors.scss";

mat-tab-group {
  height: calc(100vh - 56px - 32px);
}

.scheduler {
  .scheduler-navigator {
    text-align: center;
    margin: 8px 16px;

    h1 {
      font-size: 12pt;
    }
  }

  .scheduler-header {
    font-size: 10pt;
  }

  dx-scheduler {
    height: calc(100vh - 56px - 56px - 49px - 32px);
    max-height: 823px;
  }

  .dx-scheduler-date-table-cell {
    height: 50px;
  }

  // iPad
  @media screen and (min-width: $xs) {
    .scheduler-header {
      font-size: 14pt;
    }

    dx-scheduler {
      height: calc(100vh - 64px - 16px - 49px - 56px - 16px);
    }
  }

  // iPad Pro
  @media screen and (min-width: $md) {
    dx-scheduler {
      height: 823px;
    }
  }
}

.delete {
  color: $primary;
}
