@import "../../../colors.scss";

mat-tab-group {
  height: calc(100vh - 56px - 32px);

  .mat-tab-body-wrapper {
    height: 100vh !important;
  }

  form {
    margin: 0 5px;
  }
}

.delete {
  color: $primary;
}

.fab-button {
  position: fixed;
  bottom: 15px;
  right: 15px;
  z-index: 100;
  backface-visibility: hidden;
}
