mat-card {
  margin: 8px 0;

  .content {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-content: center;

    h3, h4 {
      margin: 0;
      min-width: 0;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    h4 {
      font-weight: normal;
    }
  }

  .actions {
    margin-top: 8px;
  }
}