<mat-card>
  <div class="content">
    <h3>Nachtdienst - Alexander Koblmüller</h3>
  </div>
  <div class="content">
    <h4>13. August 2019 gegen 2. August 2019</h4>
  </div>
  <div class="content">
    <h4></h4>
  </div>

  <div class="actions" fxFlexLayout="row" fxLayoutGap="5%">
    <button mat-button color="accent" fxFlex="47.5">
      <mat-icon>done</mat-icon>
    </button>
    <button mat-button color="primary" fxFlex="47.5">
      <mat-icon>clear</mat-icon>
    </button>
  </div>
</mat-card>