mat-toolbar {
  background-color: transparent;
}

mat-horizontal-stepper {
  height: calc(100vh - 56px);
  padding: 0;
  margin: 0;

  form {
    padding: 0 8px 8px 8px;
  }

  p {
    font-size: 14pt;
    text-align: justify;
  }
}
