<mat-toolbar color="primary">
  <a mat-icon-button routerLink="">
    <mat-icon>keyboard_backspace</mat-icon>
  </a>
</mat-toolbar>

<div class="container">
  <mat-horizontal-stepper linear="true">
    <mat-step label="E-Mail eingeben" [stepControl]="formGroup.get('email')">
      <div class="center">
        <form fxLayout="column" [formGroup]="formGroup">
          <mat-form-field appearance="outline">
            <mat-label>E-Mail</mat-label>
            <input formControlName="email" matInput />
            <mat-error *ngIf="formGroup.get('email').invalid">{{getErrorMessage('email')}}</mat-error>
          </mat-form-field>
          <br />
          <button color="primary" mat-flat-button matStepperNext>Zurücksetzen</button>
        </form>

      </div>
    </mat-step>
    <mat-step label="Nächste Schritte">
      <p>Wir senden Ihnen nun eine E-Mail, mit der Sie das Passwort für den Account
        zurücksetzen können.
      </p>
      <p>
        Haben Sie keinen Zugriff auf Ihre E-Mail oder ein anderes Problem, senden Sie eine E-Mail
        an
      </p>
      <a fxFlexFill mat-stroked-button color="primary" href="mailto:support@bfk-portal.at">support@bfk-portal.at</a>
    </mat-step>
  </mat-horizontal-stepper>
</div>