@import "../../styles.scss";
@import "../../colors.scss";

mat-drawer-container {
  height: calc(100vh - 56px);

  mat-drawer {
    width: 80vw;
  }

  @media screen and (min-width: $xs) {
    mat-drawer {
      width: 40vw;
    }
  }

  @media screen and (min-width: $sm) {
    mat-drawer {
      width: 30vw;
    }
  }

  @media screen and (min-width: $md) {
    mat-drawer {
      max-width: 308px;
    }
  }
}

mat-tab-group {
  height: calc(100vh - 56px - 32px);
}

.scheduler {
  .scheduler-navigator {
    text-align: center;
    margin: 8px 16px;

    h1 {
      font-size: 12pt;
    }
  }

  .scheduler-header {
    font-size: 10pt;
  }

  dx-scheduler {
    height: calc(100vh - 56px - 56px - 49px - 32px);
    max-height: 823px;
  }

  .dx-scheduler-date-table-cell {
    height: 50px;
  }

  // iPad
  @media screen and (min-width: $xs) {
    .scheduler-header {
      font-size: 14pt;
    }

    dx-scheduler {
      height: calc(100vh - 64px - 16px - 49px - 56px - 16px);
    }
  }

  // iPad Pro
  @media screen and (min-width: $md) {
    dx-scheduler {
      height: 823px;
    }
  }
}

.delete {
  color: $primary;
}

.fab-button {
  position: fixed;
  bottom: 15px;
  right: 15px;
  z-index: 100;
  backface-visibility: hidden;
}
