<mat-toolbar color="primary">
  <button mat-icon-button (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  Administration
  <span style="flex: 1 1 auto;"></span>
  <a mat-icon-button routerLink="/" type="button">
    <mat-icon>exit_to_app</mat-icon>
  </a>
</mat-toolbar>

<mat-drawer-container>
  <mat-drawer #sidenav mode="over" autoFocus="false">
    <app-dashboard-entry *ngFor="let item of items" (click)="selectItem(item, sidenav)"
      [color]="item.isSelected ? '#FFCDD2' : ''" [content]="item.content" [icon]="item.icon" [route]="item.route">
    </app-dashboard-entry>
  </mat-drawer>

  <mat-drawer-content>
    <div class="container">
      <mat-tab-group mat-stretch-tabs>
        <mat-tab label="Benutzer" #user>
          <mat-list role="list">
            <mat-list-item>
              <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item>
                  <mat-icon>edit</mat-icon>
                  <span>Ändern</span>
                </button>
                <button mat-menu-item class="delete">
                  <mat-icon color="primary">delete</mat-icon>
                  <span>Löschen</span>
                </button>
              </mat-menu>
              <h4 mat-line><b>Alexander Koblmüller</b></h4>
              <p mat-line>UserBwst</p>
            </mat-list-item>
            <mat-list-item>
              <button color="primary" fxFlexFill fxHide.xs mat-button>
                Hinzufügen
              </button>
            </mat-list-item>
          </mat-list>
        </mat-tab>

        <mat-tab label="Diensteinteilung">
          <div class="scheduler" fxFlex="100">
            <div class="scheduler-navigator">
              <button mat-icon-button (click)="changeMonth(-1)">
                <mat-icon>keyboard_arrow_left</mat-icon>
              </button>
              <h1 fxFlex="80*">{{navigatorText}}</h1>
              <button mat-icon-button (click)="changeMonth(1)">
                <mat-icon>keyboard_arrow_right</mat-icon>
              </button>
            </div>

            <dx-scheduler #scheduler currentView="month" [(currentDate)]="currentDate" firstDayOfWeek="1"
              dateCellTemplate="dateCellTemplate" dataCellTemplate="dataCellTemplate" [dataSource]="appointments"
              (onAppointmentClick)="cancelEvent($event)" (onAppointmentDblClick)="cancelEvent($event)"
              (onCellClick)="cellClicked($event)" maxAppointmentsPerCell="unlimited">
              <div *dxTemplate="let data of 'dateCellTemplate'" class="scheduler-header">
                <div class="name" fxHide fxShow.xs fxShow.sm>
                  {{['S', 'M', 'D', 'M', 'D', 'F', 'S'][data.date.getDay()]}}
                </div>
                <div class="name" fxHide fxShow.md>
                  {{['Son', 'Mon', 'Die', 'Mit', 'Don', 'Fre', 'Sam'][data.date.getDay()]}}
                </div>
                <div class="name" fxHide fxShow.lg fxShow.xl>
                  {{['Sonntag', 'Montag', 'Dienstag', 'Mittwoch', 'Donnerstag', 'Freitag', 'Samstag'][data.date.getDay()]}}
                </div>
              </div>
              <div *dxTemplate="let data of 'dataCellTemplate'">
                <div class="day-cell">{{data.startDate.getDate()}}</div>
              </div>
            </dx-scheduler>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
    <button *ngIf="user.isActive" mat-fab class="fab-button" color="primary" fxHide fxShow.xs>
      <mat-icon>add</mat-icon>
    </button>
  </mat-drawer-content>
</mat-drawer-container>