@import "../../../colors.scss";

/* rgba(166, 168, 179, 0.12)*/

/* .calendar {
  display: grid;
  grid-template-columns: repeat(7, 100vw / 7);
  grid-template-rows: 16px repeat(6, calc((100vh - 56px - 56px - 16px) / 6));
  width: 100vw;

  &-container {
    margin: auto;
    overflow: hidden;
    max-width: 100vw;
    background-color: white;
  }

  &-header {
    text-align: center;
    margin: 8px 16px;

    h1 {
      font-size: 12pt;
    }
  }
}

.day {
  width: calc(100vw / 7);
  border-bottom: 1px solid rgba(166, 168, 179, 0.12);
  border-right: 1px solid rgba(166, 168, 179, 0.12);
  text-align: center;
  padding-top: 4px;
  font-size: 12px;
  box-sizing: border-box;
  color: #98a0a6;
  position: relative;
  pointer-events: none;

  &:nth-of-type(7n + 7) {
    border-right: 0;
  }

  &:nth-of-type(n + 1):nth-of-type(-n + 7) {
    grid-row: 2;
  }

  &:nth-of-type(n + 8):nth-of-type(-n + 14) {
    grid-row: 3;
  }

  &:nth-of-type(n + 15):nth-of-type(-n + 21) {
    grid-row: 4;
  }

  &:nth-of-type(n + 22):nth-of-type(-n + 28) {
    grid-row: 5;
  }

  &:nth-of-type(n + 29):nth-of-type(-n + 35) {
    grid-row: 6;
  }

  &:nth-of-type(7n + 1) {
    grid-column: 1/1;
  }

  &:nth-of-type(7n + 2) {
    grid-column: 2/2;
  }

  &:nth-of-type(7n + 3) {
    grid-column: 3/3;
  }

  &:nth-of-type(7n + 4) {
    grid-column: 4/4;
  }

  &:nth-of-type(7n + 5) {
    grid-column: 5/5;
  }

  &:nth-of-type(7n + 6) {
    grid-column: 6/6;
  }

  &:nth-of-type(n + 36) {
    border-bottom: 0;
  }

  &-name {
    font-size: 12px;
    color: #98a0a6;
    text-align: center;
    border-bottom: 1px solid rgba(166, 168, 179, 0.12);
    border-right: 1px solid rgba(166, 168, 179, 0.12);
    font-weight: 500;

    &:nth-of-type(7n + 7) {
      border-right: 0;
    }
  }

  &--disabled {
    z-index: 1;
    color: rgba(#98a0a6, 0.6);
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23f9f9fa' fill-opacity='1' fill-rule='evenodd'%3E%3Cpath d='M0 40L40 0H20L0 20M40 40V20L20 40'/%3E%3C/g%3E%3C/svg%3E");
    cursor: not-allowed;
  }

  &--today {
    color: $primary;
  }
}

.task {
  border-left-width: 3px;
  padding: 2px 6px;
  margin: 2px;
  border-left-style: solid;
  font-size: 7pt;
  position: relative;
  border-left-color: $primary;
  background: $primary-select;
  color: $primary;
  align-self: end;
}

section {
  width: calc(100vw / 6, 994535519);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.overlay-panel {
  position: fixed;
  top: 128px;
  z-index: 1;
  right: 0;
  left: 0;
  bottom: 0;
  height: calc(100vh - 128px);
  width: 100vw;
  border: none;
} */
