@import "../../../styles.scss";
@import "../../../colors.scss";

.scheduler {
  .scheduler-navigator {
    text-align: center;
    margin: 8px 16px;

    h1 {
      font-size: 12pt;
    }
  }

  .scheduler-header {
    font-size: 10pt;
  }

  dx-scheduler {
    height: calc(100vh - 56px - 56px - 32px);
    max-height: 823px;
  }

  .dx-scheduler-date-table-cell {
    height: 50px;
  }

  // iPad
  @media screen and (min-width: $xs) {
    .scheduler-header {
      font-size: 14pt;
    }

    dx-scheduler {
      height: calc(100vh - 64px - 16px - 56px - 16px);
    }
  }

  // iPad Pro
  @media screen and (min-width: $md) {
    dx-scheduler {
      height: 823px;
    }
  }
}

.fab-button {
  position: fixed;
  bottom: 15px;
  right: 15px;
  z-index: 100;
  backface-visibility: hidden;
}
