<mat-toolbar color="primary">
  <button mat-icon-button (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  {{currentComponent}}
</mat-toolbar>

<mat-drawer-container>
  <mat-drawer #sidenav mode="over" autoFocus="false">
    <app-dashboard-entry *ngFor="let item of items" (click)="selectItem(item, sidenav)"
      [color]="item.isSelected ? '#FFCDD2' : ''" [content]="item.content" [icon]="item.icon" [route]="item.route">
    </app-dashboard-entry>
  </mat-drawer>

  <mat-drawer-content>
    <router-outlet (activate)="onActivate($event)"></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>