<mat-toolbar color="primary">
  <button mat-icon-button (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  {{currentItem}}
  <span style="flex: 1 1 auto;"></span>
  <a mat-icon-button type="button" (click)="logout()">
    <mat-icon>exit_to_app</mat-icon>
  </a>
</mat-toolbar>

<mat-drawer-container>
  <mat-drawer #sidenav mode="over" autoFocus="false">
    <a *ngFor="let item of items" class="item" [routerLink]="item.route" mat-button color="primary" fxLayout="row"
      [style.background-color]="item.isSelected ? '#FFCDD2' : ''">
      <mat-icon>{{item.icon}}</mat-icon>
      {{item.content}}
    </a>
  </mat-drawer>

  <mat-drawer-content>
    <div class="container">
      <router-outlet (activate)="onRouterOutletActivate($event, sidenav)"></router-outlet>
    </div>
  </mat-drawer-content>
</mat-drawer-container>