mat-drawer-container {
  height: calc(100vh - 56px);

  mat-drawer {
    width: 80vw;
  }

  @media screen and (min-width: 1280px) {
    mat-drawer {
      width: 25vw;
    }
  }

  @media screen and (min-width: 1920px) {
    mat-drawer {
      width: 15vw;
    }
  }
}
