<mat-toolbar color="primary">
  <button mat-icon-button (click)="close()">
    <mat-icon>close</mat-icon>
  </button>
  Termin erstellen
</mat-toolbar>

<div class="dialog-container">
  <form fxLayout="column" [formGroup]="formGroup" (ngSubmit)="create()">
    <mat-form-field appearance="outline" fxFlex>
      <mat-label>Typ</mat-label>
      <mat-select formControlName="type">
        <mat-option selected value="Termin">Termin</mat-option>
        <mat-option value="Dienst">Dienst</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field fxFlex appearance="outline">
      <mat-label>Titel</mat-label>
      <input formControlName="title" matInput />
      <mat-error *ngIf="formGroup.get('title').invalid">{{getErrorMessage('title')}}</mat-error>
    </mat-form-field>
    <mat-form-field fxFlex appearance="outline">
      <mat-label>Von</mat-label>
      <input formControlName="from" matInput type="datetime-local" />
      <mat-error *ngIf="formGroup.get('from').invalid">{{getErrorMessage('from')}}</mat-error>
    </mat-form-field>
    <mat-form-field fxFlex appearance="outline">
      <mat-label>Bis</mat-label>
      <input formControlName="to" matInput type="datetime-local" />
      <mat-error *ngIf="formGroup.get('to').invalid">{{getErrorMessage('to')}}</mat-error>
    </mat-form-field>
    <button color="primary" mat-button type="submit">Erstellen</button>
  </form>
</div>