@import "~@angular/material/theming";

@import url("https://fonts.googleapis.com/css?family=Comfortaa&display=swap");
$custom-typography: mat-typography-config(
  $font-family: '"Comfortaa", cursive'
);

@include mat-core($custom-typography);

$primary: mat-palette($mat-red, 900);
$accent: mat-palette($mat-green);
$warn: mat-palette($mat-red);

$theme: mat-light-theme($primary, $accent, $warn);

@include angular-material-theme($theme);

$xs: 600px;
$sm: 960px;
$md: 1280px;
$lg: 1920px;
$xl: 5000px;

@import "./colors.scss";

html,
body {
  height: 100%;
  font-family: "Comfortaa", cursive;
}

body {
  margin: 0;
  overflow: hidden !important;
}

a {
  text-decoration: none;
  color: $primary;
}

mat-toolbar button {
  margin-right: 16px !important;
}

.container {
  margin: 16px;
}

// iPad
@media screen and (min-width: $xs) {
  .container {
    width: 70vw;
    margin: 16px 15vw;
  }
}

// iPad Pro
@media screen and (min-width: $sm) {
  .container {
    width: 60vw;
    margin: 16px 20vw;
  }
}
