@import '~@angular/material/theming';

@import url('https://fonts.googleapis.com/css?family=Comfortaa&display=swap');
$custom-typography: mat-typography-config(
  $font-family: '"Comfortaa", cursive'
);

@include mat-core($custom-typography);

$primary: mat-palette($mat-red, 900);
$accent: mat-palette($mat-green);
$warn: mat-palette($mat-red);

$theme: mat-light-theme($primary, $accent, $warn);

@include angular-material-theme($theme);

@import './colors.scss';

html, body { 
  height: 100%;
  font-family: 'Comfortaa', cursive;
}

body { 
  margin: 0;
}

a {
  text-decoration: none;
  color: $primary;
}

mat-toolbar button {
  margin-right: 16px !important;
}

.container {
  margin: 16px;
}