<div class="container">
  <mat-list>
    <mat-list-item>
      <mat-icon mat-list-icon>description</mat-icon>
      <h4 mat-line>Einführung.pdf</h4>
      <mat-divider></mat-divider>
    </mat-list-item>
    <mat-list-item>
      <mat-icon mat-list-icon>description</mat-icon>
      <h4 mat-line>Foto.png</h4>
      <mat-divider></mat-divider>
    </mat-list-item>
    <mat-list-item>
      <mat-icon mat-list-icon>description</mat-icon>
      <h4 mat-line>Türöffnung.berggasse4</h4>
      <mat-divider></mat-divider>
    </mat-list-item>
    <mat-list-item>
      <mat-icon mat-list-icon>description</mat-icon>
      <h4 mat-line>laksjdlfökjasdlöfjasdlöfkjasdölfkjasdölfjkasdlöfj.cs</h4>
      <mat-divider></mat-divider>
    </mat-list-item>
  </mat-list>
</div>