@import "../../../styles.scss";
@import "../../../colors.scss";

.no-work {
  text-align: center;
  transform: translateY(calc(50vh - 28px - 100%));

  mat-icon {
    font-size: 5rem;
    height: 5rem;
    width: 5rem;
    color: rgba(0, 0, 0, 0.4);
  }

  p {
    font-weight: bold;
    margin-top: 0;
    color: rgba(0, 0, 0, 0.4);
  }
}

mat-expansion-panel,
mat-card {
  margin: 5px;
  border-radius: 5px !important;

  mat-expansion-panel-header {
    margin: 16px 0;

    mat-icon {
      margin: auto;
    }
  }

  h3 {
    margin: 0;
  }

  h5 {
    margin: 0;
    font-weight: normal;
  }
}