@import '../../../colors.scss';

.no-work {
  text-align: center;
  transform: translateY(calc((100vh - 56px) / 2 - 60%));

  mat-icon {
    font-size: 5rem;
    height: 5rem;
    width: 5rem;
    color: rgba(0, 0, 0, 0.4);
  }

  p {
    font-weight: bold;
    margin-top: 0;
    color: rgba(0, 0, 0, 0.4);
  }

}

mat-tab-group {
  height: calc(100vh - 56px - 32px);
}